@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}


@mixin breakpoint($point) {
  @if $point == tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $point == laptop {
    @media screen and (min-width: 1024px) {
      @content;
    }
  } @else if $point == laptop-l {
    @media screen and (min-width: 1400px) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-vertical-center {
  display: flex;
  justify-content: center;
}