@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/* 🤖Import Fonts */
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../assets/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Geometria-Medium";
  src: url("../../assets/fonts/Geometria-Medium.ttf");
}
@font-face {
  font-family: "Geometria-Bold";
  src: url("../../assets/fonts/Geometria-Bold.ttf");
}
@font-face {
  font-family: "Geometria";
  src: url("../../assets/fonts/Geometria.ttf");
}
/* 👀Variables */
/* 🥑General rules */
body {
  overflow-x: hidden;
  background: url("../../assets/img/hero-mobile-dark.svg"), url("../../assets/img/marvel-logo.svg"), linear-gradient(180deg, #AA2E2E 0%, #26087D 33%, #0F003C 66%, #AA2E2E 100%);
  background-position-y: 3.2%, 4%, top;
  background-position-x: center, 64%, center;
  background-repeat: no-repeat;
  background-size: 135%, 125%, contain;
}
@media screen and (min-width: 768px) {
  body {
    background-position-y: 4.2%, 6%, top;
    background-position-x: 40%, 64%, center;
    background-repeat: no-repeat;
    background-size: 100%, 115%, contain;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background: url("../../assets/img/hero-desktop-dark.svg"), url("../../assets/img/marvel-logo.svg"), linear-gradient(180deg, #AA2E2E 0%, #26087D 33%, #0F003C 66%, #AA2E2E 100%);
    background-position-y: 3.255%, 0.15%, top;
    background-position-x: 90%, 99%, center;
    background-repeat: no-repeat;
    background-size: 50%, 52%, contain;
  }
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: "Gilroy-Bold", sans-serif;
}

section:not(.hero) {
  margin-bottom: 8.5rem;
}
@media screen and (min-width: 1024px) {
  section:not(.hero) {
    margin-bottom: 4.5rem;
  }
}

.container {
  padding: 7.5%;
}

.subtitle {
  font-size: 2.8rem;
  line-height: 1.2;
  color: #DBBE20;
  margin-bottom: 2rem;
}

.description-text {
  font-family: "Geometria", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #FFFFFF;
}

/* 🐱‍🏍Hero - Section 1 */
.hero {
  height: 926px;
}
@media screen and (min-width: 1024px) {
  .hero {
    height: 690px;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2.4rem;
  margin-top: 16rem;
}
@media screen and (min-width: 1024px) {
  .hero__content {
    align-items: flex-start;
    text-align: left;
    margin-top: 12rem;
  }
}
.hero__title h1 {
  color: #FFFFFF;
  font-size: 3.2rem;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) {
  .hero__title h1 {
    font-size: 4rem;
  }
}
.hero__title h1 span {
  color: #DBBE20;
  font-size: 4.8rem;
}
@media screen and (min-width: 1024px) {
  .hero__title h1 span {
    font-size: 7.6rem;
  }
}
.hero__text {
  margin-bottom: 1.6rem;
}
.hero__text p {
  color: white;
  font-family: "Geometria";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
@media screen and (min-width: 1024px) {
  .hero__text p {
    font-size: 2rem;
  }
}
.hero__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero__cta .btn {
  border-radius: 1.5rem;
  background-color: #DF1F2D;
  width: 11.6rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.hero__cta .btn:hover {
  background-color: #FFFFFF;
}
.hero__cta .btn:hover a {
  background-image: linear-gradient(90deg, #AA2E2E, #26087D);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.hero__cta .btn a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Geometria-Bold", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.25rem;
}

.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: auto;
  gap: 5rem;
}

.card {
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__img {
  width: 255px;
  height: 255px;
}
.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card span {
  margin-block: 0.8rem;
  text-align: center;
}
.card span a {
  color: #FFFFFF;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

/* 🕷 Spiders - Section 2 */
.spiders__results {
  color: #FFFFFF;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-top: 0.8rem;
  margin-bottom: 6.8rem;
  text-decoration: overline;
}
.spiders-card img {
  border-radius: 150px;
}

/* 🤩 Comics - Section 3 */
.comics__texts {
  margin-bottom: 6.8rem;
}
.comics-card__img {
  width: 180px;
  height: 255px;
}
.comics-card__img img {
  -o-object-fit: contain;
     object-fit: contain;
}

/* 👣 Footer */
footer {
  margin-block: 4rem;
}
footer p {
  margin-top: 0.8rem;
}
footer a:hover {
  text-decoration: underline;
}

footer, footer a {
  text-align: center;
  color: #FFFFFF;
  font-family: "Geometria-Medium", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}/*# sourceMappingURL=styles.css.map */