@import '_mixins.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

/* 🤖Import Fonts */

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: 'Geometria-Medium';
  src: url("../../assets/fonts/Geometria-Medium.ttf");
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url("../../assets/fonts/Geometria-Bold.ttf");
}

@font-face {
  font-family: 'Geometria';
  src: url("../../assets/fonts/Geometria.ttf");
}

/* 👀Variables */

$clr-white:#FFFFFF;
$clr-yellow:#DBBE20;
$clr-red-btn: #DF1F2D;
$clr-red-grad: #AA2E2E;
$clr-blue-grad: #26087D;
$clr-darkblue-grad: #0F003C;
$ff-gilroy: 'Gilroy-Bold', sans-serif;
$ff-geometria: 'Geometria', sans-serif;
$ff-geometria-medium: 'Geometria-Medium', sans-serif;
$ff-geometria-bold: 'Geometria-Bold', sans-serif;


/* 🥑General rules */

body {
  overflow-x: hidden;
  background: url("../../assets/img/hero-mobile-dark.svg"), 
  url("../../assets/img/marvel-logo.svg"), 
  linear-gradient(180deg, $clr-red-grad 0%, 
  $clr-blue-grad 33%, 
  $clr-darkblue-grad 66%,
  $clr-red-grad 100%
  ); 

  background-position-y: 3.2%, 4%, top;
  background-position-x: center, 64%, center;
  background-repeat: no-repeat;
  background-size: 135%, 125%, contain;

  @include breakpoint(tablet) {
    background-position-y: 4.2%, 6%, top;
    background-position-x: 40%, 64%, center;
    background-repeat: no-repeat;
    background-size: 100%, 115%, contain;
  }

  @include breakpoint(laptop) {
    background: url("../../assets/img/hero-desktop-dark.svg"), 
    url("../../assets/img/marvel-logo.svg"), 
    linear-gradient(180deg, $clr-red-grad 0%, 
    $clr-blue-grad 33%, 
    $clr-darkblue-grad 66%,
    $clr-red-grad 100%
    );

    background-position-y: 3.255%, 0.15%, top;
    background-position-x: 90%, 99%, center;
    background-repeat: no-repeat;
    background-size: 50%, 52%, contain;
  }
}

a {
  text-decoration: none;
}

h1, h2 {
    font-family: $ff-gilroy;
}

section:not(.hero) {
  margin-bottom: 8.5rem;
  @include breakpoint(laptop) {
    margin-bottom: 4.5rem;
  }
}

.container {
  padding: 7.5%;
}

.subtitle {
  font-size: 2.8rem;
  line-height: 1.2;
  color: $clr-yellow;
  margin-bottom: 2rem;
}

.description-text {
  font-family: $ff-geometria;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $clr-white;
}

/* 🐱‍🏍Hero - Section 1 */

.hero {

  $height: 926px;
  height: $height;
  @include breakpoint(laptop){ 
    height: 690px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.4rem;
    margin-top: 16rem;
    @include breakpoint(laptop) {
      align-items: flex-start;
      text-align: left;
      margin-top: 12rem;
    }
  }

  &__title {
    h1 {
      color: $clr-white;
      font-size: 3.2rem;
      line-height: 1.2;
      @include breakpoint(laptop) {
        font-size: 4rem;
      }

    span {
        color: $clr-yellow;
        font-size: 4.8rem;
        @include breakpoint(laptop) {
          font-size: 7.6rem;
        }
      }
    }
  }

  &__text {
  margin-bottom: 1.6rem;

    p {
      color: white;
      font-family: 'Geometria';
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;

      @include breakpoint(laptop) {
        font-size: 2rem;
      }
    }
  }


  &__cta {
  @include flex-center;
  gap: 1rem;

    .btn {
      border-radius: 1.5rem;
      background-color: $clr-red-btn;
      @include box(11.6rem, 4.5rem);
      @include flex-center;
      cursor: pointer;

      &:hover {
        background-color: $clr-white;

        & a {
          background-image: linear-gradient(90deg, $clr-red-grad, $clr-blue-grad);
          background-clip: text;
          color: transparent;
        }
      }
      transition: all 0.4s ease-in-out;

      a {
        color: $clr-white;
        text-transform: uppercase;
        font-family: $ff-geometria-bold;
        font-size: 1.4rem;
        letter-spacing: .25rem;
      }
    }
  }
}



.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: auto;
  gap: 5rem;
}

.card {
  @include box(270px, 270px);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    @include box(255px, 255px);

    img {
      @include box(100%, 100%);
      object-fit: cover;
    }
  }

  span {
      margin-block: .8rem;
      text-align: center;

      a {
        color: $clr-white;
        font-family: $ff-gilroy;
        font-size: 1.4rem;
        line-height: 1.5;
      }
    }
}


/* 🕷 Spiders - Section 2 */

.spiders {
  &__results {
    color: $clr-white;
    font-family: $ff-gilroy;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-top: .8rem;
    margin-bottom: 6.8rem;
    text-decoration: overline;
  }

  &-card {
    img {
      border-radius: 150px;
    }
  }
}

/* 🤩 Comics - Section 3 */

.comics {
  &__texts {
    margin-bottom: 6.8rem;
  }

  &-card {
    &__img {
      @include box(180px, 255px);

      img {
        object-fit: contain;
      }
    }
  }
}

/* 👣 Footer */

footer {
  margin-block: 4rem;

  p {
    margin-top: 0.8rem;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

footer, footer a {
  text-align: center;
  color: $clr-white;
  font-family: $ff-geometria-medium;
  font-size: 1.25rem;
  line-height: 1.5;
}